<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo">
      Configuracion de productos
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary" slot="icon-only" name="grid-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--Contenido de los elementos de la lista de productos de gas-->
<ion-content>
  <h3 class="subtitulo p-3 text-center encabezado">ingrese datos del producto</h3>
  <ion-item>
    <ion-label class="normal" position="floating">
      Nombre:
    </ion-label>
    <ion-input class="normal" type="text" inputmode="text">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Precio Normal:
    </ion-label>
    <ion-input class="normal" type="number" inputmode="numeric">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Precio reducido:
    </ion-label>
    <ion-input class="normal"  type="number" inputmode="numeric">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" >
      Foto:
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="images-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-item>

  <ion-button expand="full" class="btn-primary m-3">
    Guardar
  </ion-button>
</ion-content>
